<a href="/<%= @user.id %>/deck">Back</a>
<div class="continer">
<% @cards.each do |card| %>
<%= card.question %><br>
<a href="/<%= @user.id %>/deck/<%= @deck.id %>/<%= card.id %>/delete">Delete</a><br>
<% end %>
<a href="/<%= @user.id %>/deck/<%= @deck.id %>/card/new">Add a new card to this deck</a>
<a href="/<%= @user.id %>/deck/<%= @deck.id %>/delete">Delete this deck</a>
</div>

